body {
    font-family: Arial;
    margin: 0;
    text-align: center;
    background: #f4f4f4;
}

header {
    background: #1E2A38;
    color: white;
    padding: 20px;
}

#alertBtn {
    background: red;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px;
    padding: 10px;
}